.login_div {
  box-sizing: border-box;
  background: linear-gradient(
    109.46deg,
    rgba(201, 201, 201, 0.8) 1.57%,
    rgba(196, 196, 196, 0.1) 100%
  );
  opacity: 0.5;
  backdrop-filter: blur(30px);
  border-radius: 27px;
}
.login_page{
    background: linear-gradient(
    109.46deg,
    rgba(68, 87, 82, 0.976) 1.57%,
    rgb(32, 6, 80) 100%
  );
}
.form-control input::placeholder{
    color: rgb(233, 241, 243);
}
.form-control input{
    background-image: linear-gradient(to right, #838E92,#3A4D52);
}