.featured_post{
  border: 1px solid #dddddf;
  padding: 25px;
  
}
.featured_thumb{
  width: 100%;
  border-radius: 5px;
  max-height: 400px;
}
.title{
    text-transform: capitalize;
}
.content{
  border-radius: 5px;
}

.imge_sidepost{
  max-width: 220px;
  max-height: 120px;
  border-radius: 5px;
  border: 2px solid rgb(235, 228, 228);
}

.side_title{
  color: #232536;
  text-transform: capitalize;
}
.author_info{
  font-size: 14px;
}


/* unique posts */

.container{

}
.content_img img{
  border-radius: 5px;
}
.content_article{
 
}
.article_title{
  font-weight: 600;
  color: #232536;
}
.article_text{

}
.category_name{
font-size: 16px;
line-height: 20px;
letter-spacing: 3px;
text-transform: uppercase;
color: #592EA9;
font-weight: 600;
}
.common_btn{
  background: #FFD050;
  padding: 10px 28px;
  color: #232536;
  font-weight: 600;
  margin: 10px 0;
}